<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/config.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.2"></script>
    <script type="text/javascript" src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <title>Financial Portfolios | <%= title %></title>
</head>
<body>
    <header>
        <div>
            <a href="/"><h1>Financial Portfolios</h1></a>
        </div>
        <div class="mini-nav">
            <ul>
            <% if (user) { %>
                <li><a href="/show">User Home</a></li>
            <% } %>                
                <li><a href="/about">About</a></li>
            <% if (user) { %>
                <li>Welcome, <%= user.email %></li>
                <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
                <li><button data-modal-target="#login-modal">Login</button></li>
                <li><button data-modal-target="#register-modal">Register</button></li>
            <% } %>
            </ul>
        </div>
    </header>

<%- include("../modal/register-login-modal", {'prefix': 'login', 'title': 'Login', 'post': 'login'}); %>
<%- include("../modal/register-login-modal", {'prefix': 'register', 'title': 'Register', 'post': 'register'}); %>
