<%- include("./partials/header"); -%>

<div class="main-body">

<div class="panel-container-1c">
    <div class="panel-containee">
        <div class="title">
            <p>
                Page not found - 404
            </p>
        </div>
        <div class="content">
            <p class="paragraph">We could not find the page you were looking for (<span class="emphasize"><%- page %></span>).</p>
        </div>
    </div>
</div>

</div>

<%- include("./partials/bottom"); -%>
<%- include("./partials/footer"); -%>
