<%- include("./partials/header"); -%>

<div class="text-content">
    <div class="text-content-title">
        <h2>Page Not Found</h2>
    </div>
    <div class="text-content-text">
        <p>We could not find the page you were looking for (<span class="text-emphasize"><%- page %></span>).</p>
    </div>
</div>

<%- include("./partials/footer"); -%>