<%- include("./partials/header"); %>

<div class="main-body">

<div class="panel-container-2c">
    <div class="panel-containee panel-border">
        <div class="title">
            <p>About</p>
        </div>
        <div class="content">
            <p class="paragraph">
                Financial Portfolios is an application which allows you to monitor and track your investment performance.
            </p>
            <p class="paragraph">
                You can track stocks, ETFs, currencies in the stock market, manage your stock portfolios
                and view performance over time, with metrics such as realized gains, unrealized gains,
                daily and total changes, and annualized gains, and view allocation balance of each
                stock holding in your overall portfolio with pie charts.
            </p>
        </div>
    </div>
    
    <div class="panel-containee panel-border">
        <div class="title">
            <p>What is a Financial Portfolio?</p>
        </div>
        <div class="content">
            <p class="paragraph">
                A portfolio is a collection of financial investments like stocks, bonds, commodities, crypto-currencies,
                cash, and cash equivalents, including closed-end funds and exchange traded funds (ETFs). People generally
                believe that stocks, bonds, and cash comprise the core of a portfolio. Though this is often the case, it
                does not need to be the rule. A portfolio may contain a wide range of assets including real estate, art,
                and private investments.
            </p>
            <p class="paragraph">
                One key takeway, is that diversification is a key concept in portfolio management, and another, is
                that a person's tolerance for risk, investment objectives, and time horizon are all critical factors
                when assembling and adjusting an investment portfolio.
            </p>
        </div>
    </div>
</div>

</div>

<%- include("./partials/bottom"); %>
<%- include("./partials/footer"); %>