<%- include("./partials/header"); -%>

<div class="text-content">
    <div class="text-content-title">
        <h2>About</h2>
    </div>
    <div class="text-content-text">
        <p>Financial Portfolios is an application which allows you to monitor and track your investment performance.</p>
        <p>Track stocks, ETFs, currencies in the stock market.</p>
        <p>Manage your stock portfolios and view performance over time, with metrics such as realized gains, unrealized gains, daily and total changes, and annualized gains.</p>
        <p>View allocation balance of each stock holding in your overall portfolio with pie charts.</p>
    </div>
</div>

<%- include("./partials/footer"); -%>