<%- include("./partials/header"); -%>

<div class="show-header">
    <div class="show-left">
        <img src="/img/sample-pie-chart.png"/>
    </div>
    <div class="show-right">
        <section>
            <h2>Build and customize your own portfolios!</h2>
        </section>
        <section style="padding-left: 40px;">
            <h4>Track stocks, ETFs, currencies in the stock market.</h4>
            <h4>Manage your stock portfolios and view performance over time, with metrics such as realized gains, unrealized gains, daily and total changes, and annualized gains.</h4>
            <h4>View allocation balance of each stock holding in your overall portfolio with pie charts.</h4>
        </section>
        <section>
            <div class="mini-nav no-border">
                <ul>
                    <li><a href="/show" class="btn">Start here!</a></li>
                </ul>
            </div>
        </section>
    </div>
</div>

<%- include("./partials/footer"); -%>