/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat:400);

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px 40px;
    font-size: 1.0em;
    letter-spacing: 1px;
    background: #ccc;
}

h1, h2, h3, h4, ul, li, a, p, input, label, button, select, div, header, footer {
    font-family: "Montserrat", Arial, sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
    color: #000;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    margin-bottom: 90px;
}

.mini-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    /* border-bottom: 1px solid #ddd; */
}

.no-border {
    border-bottom: none;
}

.mini-nav ul {
    display: flex;
    align-items: center;
}

.mini-nav ul>li a {
    margin-left: 0px;
}

.mini-nav ul>li~li {
    margin-left: 20px;
}

.mini-nav li a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    display: block;
    padding: 8px 16px;
    letter-spacing: 2px;
}

.btn {
    border-radius: 32px;
    background: #FEE996;
    border: 1px solid #f4e060;
}

.btn:hover {
    background: #f4e060;
}

.largerer-font {
    font-size: 180%;
    font-weight: bold;
}

.larger-font {
    font-size: 110%;
}

.smaller-font {
    font-size: 75%;
}

.main-body {
    margin: 0 auto;
    width: 60%;
    /* border: 2px solid red; */
}

.main-extended-body {
    margin: 0 auto;
    width: 95%;
    /* border: 2px solid red; */
}

.show-header {
    display: flex;
    margin-bottom: 20px;
    padding-top: 40px;
}

.show-header .show-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-header img {
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
}

.show-header section {
    margin-bottom: 60px;
}

.show-header h2 {
    font-size: 2.3em;
    color: #000;
    margin-bottom: 15px;
}

.show-header h3 {
    font-size: 1.7em;
    color: #444;
    margin-bottom: 15px;
}

.show-header h4 {
    font-size: 1.2em;
    color: #777;
    margin-bottom: 15px;
}

.text-content {
    margin-bottom: 70px;
}

.text-content-title {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.text-content-text p {
    margin-bottom: 12px;
}

.text-emphasize {
    color: #000;
    background-color: #ddd;
    font-size: 0.8em;
}

/*
Canvas to request information from the user
*/

.canvas-ask-user {
    width: 340px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #ddd;
}

.canvas-ask-user h2 {
    margin-bottom: 40px;
}

.canvas-ask-user input,
.canvas-ask-user select {
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #aaa;
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
}

.canvas-ask-user label {
    display: block;
    margin: 20px 0 10px;
}

.canvas-ask-user button {
    margin-top: 30px;
    border-radius: 32px;
    background: #FEE996;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    display: block;
    padding: 10px 16px;
    letter-spacing: 2px;
    border: 1px solid #f4e060;
}

.canvas-ask-user button:hover {
    background: #f4e060;
}



.error {
    color: #ff0099;
    margin: 10px 2px;
    font-size: 0.8em;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 120px;
    color: #888;
}

.total-overview {
    margin-bottom: 70px;
}

.total-overview-header {
    margin-bottom: 10px;
}

.total-overview-row {
    margin-bottom: 10px;
}

/* make all tables borderless */

table, th, td {
    border: none;
}

.portfolios-list {
    width: 100%;
    margin: 30px 0px;
    padding: 20px;
    background-color: #aaa;
    border-radius: 20px;
    box-sizing: border-box;
}

.portfolios-list table {
    border-collapse: collapse;
    width: 100%;
    text-align: right;
}

.portfolios-list thead tr th {
    font-weight: bold;
    font-size: 1.1em;
    /* margin-bottom: 70px; */
}

.portfolios-list th {
    padding-bottom: 12px;
    padding-left: 10px;
}

.portfolios-list td {
    padding: 4px 8px;
}

.portfolios-list th:first-child,
.portfolios-list tr *:first-child {
    text-align: left;
}

.portfolios-list tbody tr:nth-child(odd) {
    background: #f3e9be;
}

.watchlists-list {
    width: 100%;
    margin: 30px 0px;
    padding: 20px;
    background-color: #aaa;
    border-radius: 20px;
    box-sizing: border-box;
}

.watchlists-list table {
    /* margin: 1em auto; */
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.watchlists-list thead tr th {
    font-weight: bold;
    font-size: 1.1em;
    /* padding-bottom: 10px; */
}

.watchlists-list th {
    padding-bottom: 12px;
    padding-left: 10px;
}

.watchlists-list td {
    padding: 8px 8px;
}

.watchlists-list th:first-child,
.watchlists-list tr *:first-child {
    text-align: left;
}

.watchlists-list tbody tr:nth-child(odd) {
    background: #f3e9be;
}

.assets-list {
    width: 100%;
    margin: 30px 0px;
    padding: 20px;
    background-color: #aaa;
    border-radius: 20px;
    box-sizing: border-box;
}

.assets-list table {
    border-collapse: collapse;
    width: 100%;
    text-align: right;
}

.assets-list thead tr th {
    font-weight: bold;
    font-size: 1.1em;
}

.assets-list th {
    padding-bottom: 12px;
    padding-left: 10px;
}

.assets-list td {
    padding: 4px 8px;
}

.assets-list tbody tr:nth-child(odd) {
    background: #f3e9be;
}

.assets-stock-list th:first-child,
.assets-stock-list tr *:first-child {
    text-align: left;
}

/*
  styles to display watchlist entries
*/
.entries-list {
    width: 100%;
    margin: 30px 0px;
    padding: 20px;
    background-color: #aaa;
    border-radius: 20px;
    box-sizing: border-box;
}

.entries-list table {
    border-collapse: collapse;
    width: 100%;
    text-align: right;
}

.entries-list thead tr th {
    font-weight: bold;
    font-size: 1.1em;
}

.entries-list th {
    padding-bottom: 12px;
    padding-left: 10px;
}

.entries-list td {
    padding: 4px 8px;
}

.entries-list tbody tr:nth-child(odd) {
    background: #f3e9be;
}

.entries-stock-list th:first-child,
.entries-stock-list tr *:first-child {
    text-align: left;
}

.exchange-container-3col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3%;
    width: 70%;
    margin: 0 auto;
}

.exchange-container-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%;
    width: 70%;
    margin: 0 auto;
}

.exchange-container-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%;
    width: 100%;
    margin: 0 0;
}

.exchange-child {
    border-radius: 20px;
    background-color: #aaa;
    padding: 20px 40px;
}

.exchange-child-left {
    text-align: left;
}

.exchange-child-right {
    text-align: right;
}

.ptitle {
    color: black;
    font-weight: 600;
}

.nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upper-cushion {
    margin-top: 20px;
}

.special-layout {
    background-color: #f3e9be;
    border-radius: 20px;
    /* padding-top: 16px; */
    /* padding-bottom: 16px; */
    padding: 12px 0;
}
