/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');


/* global */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    margin: 20px 40px;
    font-size: var(--normal);
    letter-spacing: 1px;
    background: var(--main-bg);
}

h1, h2, h3, h4, h5, h6, ul, li, a, p, input, label, button, select, div, header, footer, table, th, td, section {
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: "Montserrat", Arial, sans-serif; */
    font-family: 'Manrope', sans-serif;
    color: var(--text);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* header (contains main nav) */
header {
    margin-bottom: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid var(--separator);
    padding-bottom: 6px;
}

/* mini navigator */
.mini-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.mini-nav ul {
    display: flex;
    align-items: center;
}

.mini-nav ul>li {
    margin-left: 0px;
}

.mini-nav ul>li~li {
    margin-left: 10px;
}

.mini-nav li a.icon {
    padding: 0px;
    margin-left: 10px;
}

.mini-nav li a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--normalm);
    display: block;
    padding: 8px 16px;
    letter-spacing: 2px;
}

/* main body */
.main-body {
    margin: 0 auto;
    width: 80%;
}

.main-body-extended {
    margin: 0 auto;
    width: 95%;
}

/* home page layout */
.home-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-header .home-left {
    width: 26%;
}

.home-header .home-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-header .middle {
    padding: 80px 0px 80px 40px;
}

.home-header img {
    max-width: 100%;
    max-height: 100%;
}

.home-header h2 {
    font-size: var(--titlepp);
    color: var(--text);
}

.home-header h4 {
    font-size: var(--title);
    color: var(--text-lighter);
    margin-bottom: 20px;
}

/* 1-column container */
.panel-container-1c {
    display: block;
    width: 60%;
    margin: 0 auto;
}

.panel-container-1c-fullwidth {
    display: block;
    width: 100%;
    margin: 0 auto;
}

/* 2-column container */
.panel-container-2c {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    justify-content: space-between;
    grid-gap: 3%;
    width: 100%;
    margin: 0 auto;
}

/* 3-column container 50-25-25 */
.panel-container-3c-le {
    display: grid;
    grid-template-columns: 50% auto auto;
    justify-content: center;
    grid-gap: 3%;
    width: 100%;
    margin: 0 auto;
}

/* 3-column container 40-40-20 */
.panel-container-3c-404020 {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    justify-content: center;
    grid-gap: 3%;
    width: 100%;
    margin: 0 auto;
}

/* 3-column container equal */
.panel-container-3c-eq {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 3%;
    width: 100%;
    margin: 0 auto;
}

/* 3-column container equal */
.panel-container-3c-ri {
    display: grid;
    grid-template-columns: auto auto 50%;
    justify-content: center;
    grid-gap: 3%;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .panel-container-2c {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
    
    .panel-container-3c-404020 {
        grid-template-columns: 40% 40% 20%;
    }
}

/* what is inside each container */
.panel-border {
    box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.6);
    background-color: var(--panel-bg);
    border-radius: 20px;
}

.panel-containee {
    padding: 3% 5%;
}

.panel-containee .title {
    margin-bottom: 40px;
}

.panel-containee div.title p {
    font-size: var(--titlep);
    font-weight: bold;
}

.panel-containee div.content {
    padding: 0;
}

.panel-containee p.ptitle {
    font-weight: bold;
}

.panel-containee p.paragraph {
    margin-bottom: 16px;
}

.panel-containee p.paragraph:last-of-type {
    margin-bottom: 0px;
}

.panel-containee.left {
    text-align: left;
}

.panel-containee.right {
    text-align: right;
}

.highlight {
    background-color: var(--panel-emphasize);
    border-radius: 20px;
    /* padding: 12px; */
}

/* miscelaneous */
.error {
    color: var(--error);
    margin: 6px 2px;
    font-size: var(--normal);
    font-weight: bold;
}

.bottom {
    margin: 90px auto 0px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 120px;
    color: var(--footer);
}

/* the modal overlay covers entire screen */
#modal-overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--canvas-modal-bg);
    pointer-events: none;
}

#modal-overlay.active {
    opacity: 0.5;
    pointer-events: all;
}

.modal {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 14px;
    z-index: 100;
    background-color: var(--canvas-content);
    width: 450px; 
    max-width: 30%;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.modal.active {
    transform: translate(-50%, -35%) scale(1);
}

.modal-header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--separator);
    margin-bottom: 30px;
}

.modal-header .title {
    font-size: var(--titlepp);
    font-weight: bold;
}

/* canvas close button */
.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: var(--close);
    font-weight: bold;
}

.modal .close-button:hover,
.modal .close-button:focus {
    color: var(--error);
}

.modal-content {
    padding: 10px 20px;
}

.modal-form label {
    /* display: block; */
    margin-bottom: 10px;
    font-size: var(--titlem);
    font-weight: bold;
    /* white-space: nowrap; */
}

.modal-form p {
    word-wrap: break-word;
    margin-bottom: 10px;
}

.modal-form input,
.modal-form select {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid var(--form-border);
    font-size: var(--normalp);
    width: 100%;
    margin-bottom: 10px;
}

.modal-form .mini-nav {
    padding: 30px 0px;
}

/* all buttons */
button {
    border-radius: 15px;
    background: var(--button-bg);
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--normalm);
    padding: 8px 16px;
    letter-spacing: 0.1rem;
    border: 1px solid var(--button-border);
    opacity: 0.8;
}

button:hover {
    opacity: 1;
    cursor: pointer;
    outline: none;
}

/* links in the form of a button */
.button {
    border-radius: 15px;
    background: var(--button-bg);
    border: 1px solid var(--button-border);
    opacity: 0.8;
}

.button:hover {
    opacity: 1;
    cursor: pointer;
    outline: none;
}

/* buttons in the form of icons */
button.icon {
    background: none;
    border: none;
    opacity: 0.8;
}

button.icon:hover {
    opacity: 1;
    cursor: pointer;
    outline: none;
}

/* font sizes */
.emphasize-plusplus {
    font-size: var(--normalpp);
    font-weight: bold;
}

.emphasize-plus {
    font-size: var(--normalp);
}

.emphasize {
    color: var(--text);
    background-color: var(--text-bg);
}

.emphasize-minus {
    font-size: var(--normalm);
}

.emphasize-minusminus {
    font-size: var(--normalmm);
}

.button-svg {
    width: 20px;
    height: 20px;
    /* float: right; */
}
.button-svg:hover {
    filter: invert(34%) sepia(0%) saturate(1637%) hue-rotate(165deg) brightness(108%) contrast(76%);
}

.button-svg.shrink {
    width: 14px;
    height: 14px;
}

/* totals */
.total-overview {
    margin-bottom: 70px;
}

.total-overview-header {
    margin-bottom: 10px;
}

.total-overview-row {
    margin-bottom: 10px;
}

/* standard tables */
table, th, td {
    border: none;
    /* border: 1px solid blue; */
}

.nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncated {
    width: 0;
    min-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.standard-list {
    width: 100%;
    margin: 0 auto 15px;
}

.standard-list table {
    border-collapse: collapse;
    width: 100%;
    text-align: right;
}

.standard-list thead tr th {
    font-weight: bold;
    font-size: var(--titlem);
}

.standard-list th {
    padding-bottom: 12px;
}

.standard-list td {
    padding: 3px 0;
}

.standard-list td:first-child,
.standard-list td:last-child {
    padding-left: 12px;
}

.standard-list td.delete-row {
    min-width: 30px;
}

.standard-list tbody tr:nth-child(odd) {
    background-color: var(--list-offset);
}

.standard-list .portfolios-list th:first-child,
.standard-list .portfolios-list tr td:first-child {
    text-align: left;
}

.standard-list .portfolios-assets-list th:first-child,
.standard-list .portfolios-assets-list tr td:first-child {
    text-align: left;
}

.standard-list .watchlists-list th,
.standard-list .watchlists-list tr td {
    text-align: center;
}

.standard-list .watchlists-list th:first-child,
.standard-list .watchlists-list tr td:first-child {
    text-align: left;
}

.standard-list .watchlists-assets-list th:first-child,
.standard-list .watchlists-assets-list tr td:first-child {
    text-align: left;
}

.standard-list .watchlists-assets-list th:nth-child(4),
.standard-list .watchlists-assets-list tr td:nth-child(4),
.standard-list .watchlists-assets-list th:nth-child(18),
.standard-list .watchlists-assets-list tr td:nth-child(18) {
    text-align: center;
}

.standard-list .assets-stocks-list {
    text-align: left;
}

/* color and style formatters */
.red {
    color: red;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}

/* charts */
.container-percentage {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-small-canvas {
    padding-left: 6px;
    position: relative;
    width: 120px;
}

.container-percentage-value {
    width: 60px;
}

/* Style the tab */
.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 5px;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px px;
    transition: 0.3s;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgba(54, 162, 235, 0.3);
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: rgba(54, 162, 235, 0.3);
}  