
<div id="portfolios-add-overlay" class="modal-overlay closed"></div>
<div id="portfolios-add-modal" class="modal closed">
    <button class="close-button" id="portfolios-add-close-button">&times;</button>
    <div class="modal-content">
        <form id="portfolios-add-form" class="modal-form" autocomplete="off">
            <h2>Add Portfolio</h2>
            <label for="name">Portfolio name</label>
            <input type="text" name="name" required autofocus />
            <div class="name error"></div>
            <label for="currency">Portfolio currency</label>
            <select id="currency">
            <% currencies.forEach((currency)=> { %>
                <option value="<%- currency.short %>">
                    <%- currency.long %> (<%- currency.symbol %>)
                </option>
            <% }); %>
            </select>
            <div class="currency error"></div>
            <div class="mini-nav">
                <ul>
                    <li><button title="Add portfolio">Add</button></li>
                </ul>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var portfoliosAddButton = document.getElementById("portfolios-add-button");    
    var portfoliosAddOverlay = document.getElementById("portfolios-add-overlay");
    var portfoliosAddModal = document.getElementById("portfolios-add-modal");
    var portfoliosAddForm = document.getElementById("portfolios-add-form");
    var portfoliosAddCloseButton = document.getElementById("portfolios-add-close-button");

    function portfoliosAddToggle() {
        portfoliosAddModal.classList.toggle("closed");
        portfoliosAddOverlay.classList.toggle("closed");
    }
    portfoliosAddButton.addEventListener("click", portfoliosAddToggle);
    portfoliosAddCloseButton.addEventListener("click", portfoliosAddToggle);
    portfoliosAddOverlay.addEventListener("click", (e) => {
        if (e.target == portfoliosAddOverlay) {
            portfoliosAddToggle();
        }
    });
    portfoliosAddForm.addEventListener("submit", async (e) => {
        e.preventDefault();

        // get elements
        const nameError = document.querySelector('#portfolios-add-form .name.error');
        const currencyError = document.querySelector('#portfolios-add-form .currency.error');
        
        // reset errors
        nameError.textContent = '';
        currencyError.textContent = '';
        
        // get values
        const name = portfoliosAddForm.name.value;
        const currency = portfoliosAddForm.currency.value;
        
        try {
            const res = await fetch('/portfolios/create', {
                method: 'POST',
                body: JSON.stringify({ name, currency }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                nameError.textContent = data.errors.portfolio;
                currencyError.textContent = data.errors.currency;
            }
            if (data.portfolio) {
                portfoliosAddToggle();
                location.assign('/show');
            }
        }
        catch (err) {
            console.log(err);
        }
    });
</script>
