
<div id="watchlists-add-overlay" class="modal-overlay closed"></div>
<div id="watchlists-add-modal" class="modal closed">
    <button class="close-button" id="watchlists-add-close-button">&times;</button>
    <div class="modal-content">
        <form id="watchlists-add-form" class="modal-form" autocomplete="off">
            <h2>Add Watchlist</h2>
            <label for="name">Watchlist name</label>
            <input type="text" name="name" required autofocus />
            <div class="name error"></div>
            <div class="mini-nav">
                <ul>
                    <li><button title="Add watchlist">Add</button></li>
                </ul>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var watchlistsAddButton = document.getElementById("watchlists-add-button");    
    var watchlistsAddOverlay = document.getElementById("watchlists-add-overlay");
    var watchlistsAddModal = document.getElementById("watchlists-add-modal");
    var watchlistsAddForm = document.getElementById("watchlists-add-form");
    var watchlistsAddCloseButton = document.getElementById("watchlists-add-close-button");

    function watchlistsAddToggle() {
        watchlistsAddModal.classList.toggle("closed");
        watchlistsAddOverlay.classList.toggle("closed");
    }
    watchlistsAddButton.addEventListener("click", watchlistsAddToggle);
    watchlistsAddCloseButton.addEventListener("click", watchlistsAddToggle);
    watchlistsAddOverlay.addEventListener("click", (e) => {
        if (e.target == watchlistsAddOverlay) {
            watchlistsAddToggle();
        }
    });
    watchlistsAddForm.addEventListener("submit", async (e) => {
        e.preventDefault();

        // get elements
        const nameError = document.querySelector('#watchlists-add-form .name.error');
        
        // reset errors
        nameError.textContent = '';
        
        // get values
        const name = watchlistsAddForm.name.value;
        
        try {
            const res = await fetch('/watchlists/create', {
                method: 'POST',
                body: JSON.stringify({ name }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                nameError.textContent = data.errors.portfolio;
            }
            if (data.watchlist) {
                watchlistsAddToggle();
                location.assign('/show');
            }
        }
        catch (err) {
            console.log(err);
        }
    });
</script>
